@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* universal css  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common css */
body{
    font-family: 'Dancing Script', 'cursive';
    letter-spacing: 2px;
}
h1{
    color: blue;
    font-weight: 900;
}
h5{
    font-weight: bold;
}
.btn{
    font-weight: bold;
    font-size: 20px;
}
/* Search Form  */
.search-form{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.search-text{
    padding: 10px;
    width: 30%;
    border: 4px solid rgb(151, 114, 219);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: blue;
}
.search-text:focus{
    outline-style: none;
}
#search-btn{
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid transparent;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
    color: black;
    font-size: 20px;
    border: 4px solid rgb(151, 114, 219);
}
#search-btn:hover{
    background-color: rgb(151, 114, 219);
    color: white;
    transition-duration: .5s;
}

/* Read More  */
.fa-youtube {
    color: rgb(121, 70, 216) ;
}
.modal-title{
    color: blue;
}


/* Accordion  */
.accordion-button:focus {  
    box-shadow: 0 0 0 !important;
}
.accordion-button:not(.collapsed) {
    box-shadow: none;
}
/* Categories */
#categories{
    cursor: pointer;
}
/* Error Message  */
#error-message, #spinner{
    display: none;
}
/* Filter By name  */
.by-name{
    color: purple;
    text-decoration: underline;
}
.letter-btn{
    background-color: white;
    border: 2px solid rgb(146, 66, 221);
}
.letter-btn:hover{
    background-color: rgb(146, 66, 221);
    color: white;
    transition-duration: .5s;
}